<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.onehr.elegantapi.modules.coupon.mapper.CouponTemplateMapper">
  <resultMap id="BaseResultMap" type="jp.onehr.elegantapi.modules.coupon.domain.entity.CouponTemplate">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tpl_key" jdbcType="VARCHAR" property="tplKey" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="available" jdbcType="BIT" property="available" />
    <result column="expired" jdbcType="BIT" property="expired" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="product_line" jdbcType="BIGINT" property="productLine" />
    <result column="coupon_count" jdbcType="INTEGER" property="couponCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="usage" jdbcType="INTEGER" property="usage" />
    <result column="rule" jdbcType="VARCHAR" property="rule" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tpl_key, creator_id, available, expired, "name", logo, intro, category, product_line, 
    coupon_count, create_time, "usage", "rule"
  </sql>
  <select id="selectByExample" parameterType="jp.onehr.elegantapi.modules.coupon.domain.entity.CouponTemplateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from coupon_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupon_template
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from coupon_template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="jp.onehr.elegantapi.modules.coupon.domain.entity.CouponTemplateExample">
    delete from coupon_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jp.onehr.elegantapi.modules.coupon.domain.entity.CouponTemplate">
    insert into coupon_template (id, tpl_key, creator_id, 
      available, expired, "name", logo, 
      intro, category, product_line, 
      coupon_count, create_time, "usage", 
      "rule")
    values (#{id,jdbcType=BIGINT}, #{tplKey,jdbcType=VARCHAR}, #{creatorId,jdbcType=BIGINT}, 
      #{available,jdbcType=BIT}, #{expired,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{intro,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{productLine,jdbcType=BIGINT}, 
      #{couponCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{usage,jdbcType=INTEGER}, 
      #{rule,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="jp.onehr.elegantapi.modules.coupon.domain.entity.CouponTemplate">
    insert into coupon_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tplKey != null">
        tpl_key,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="expired != null">
        expired,
      </if>
      <if test="name != null">
        "name",
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="productLine != null">
        product_line,
      </if>
      <if test="couponCount != null">
        coupon_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="usage != null">
        "usage",
      </if>
      <if test="rule != null">
        "rule",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tplKey != null">
        #{tplKey,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="available != null">
        #{available,jdbcType=BIT},
      </if>
      <if test="expired != null">
        #{expired,jdbcType=BIT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="productLine != null">
        #{productLine,jdbcType=BIGINT},
      </if>
      <if test="couponCount != null">
        #{couponCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="usage != null">
        #{usage,jdbcType=INTEGER},
      </if>
      <if test="rule != null">
        #{rule,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jp.onehr.elegantapi.modules.coupon.domain.entity.CouponTemplateExample" resultType="java.lang.Long">
    select count(*) from coupon_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update coupon_template
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.tplKey != null">
        tpl_key = #{row.tplKey,jdbcType=VARCHAR},
      </if>
      <if test="row.creatorId != null">
        creator_id = #{row.creatorId,jdbcType=BIGINT},
      </if>
      <if test="row.available != null">
        available = #{row.available,jdbcType=BIT},
      </if>
      <if test="row.expired != null">
        expired = #{row.expired,jdbcType=BIT},
      </if>
      <if test="row.name != null">
        "name" = #{row.name,jdbcType=VARCHAR},
      </if>
      <if test="row.logo != null">
        logo = #{row.logo,jdbcType=VARCHAR},
      </if>
      <if test="row.intro != null">
        intro = #{row.intro,jdbcType=VARCHAR},
      </if>
      <if test="row.category != null">
        category = #{row.category,jdbcType=VARCHAR},
      </if>
      <if test="row.productLine != null">
        product_line = #{row.productLine,jdbcType=BIGINT},
      </if>
      <if test="row.couponCount != null">
        coupon_count = #{row.couponCount,jdbcType=INTEGER},
      </if>
      <if test="row.createTime != null">
        create_time = #{row.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.usage != null">
        "usage" = #{row.usage,jdbcType=INTEGER},
      </if>
      <if test="row.rule != null">
        "rule" = #{row.rule,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update coupon_template
    set id = #{row.id,jdbcType=BIGINT},
      tpl_key = #{row.tplKey,jdbcType=VARCHAR},
      creator_id = #{row.creatorId,jdbcType=BIGINT},
      available = #{row.available,jdbcType=BIT},
      expired = #{row.expired,jdbcType=BIT},
      "name" = #{row.name,jdbcType=VARCHAR},
      logo = #{row.logo,jdbcType=VARCHAR},
      intro = #{row.intro,jdbcType=VARCHAR},
      category = #{row.category,jdbcType=VARCHAR},
      product_line = #{row.productLine,jdbcType=BIGINT},
      coupon_count = #{row.couponCount,jdbcType=INTEGER},
      create_time = #{row.createTime,jdbcType=TIMESTAMP},
      "usage" = #{row.usage,jdbcType=INTEGER},
      "rule" = #{row.rule,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jp.onehr.elegantapi.modules.coupon.domain.entity.CouponTemplate">
    update coupon_template
    <set>
      <if test="tplKey != null">
        tpl_key = #{tplKey,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=BIT},
      </if>
      <if test="expired != null">
        expired = #{expired,jdbcType=BIT},
      </if>
      <if test="name != null">
        "name" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="productLine != null">
        product_line = #{productLine,jdbcType=BIGINT},
      </if>
      <if test="couponCount != null">
        coupon_count = #{couponCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="usage != null">
        "usage" = #{usage,jdbcType=INTEGER},
      </if>
      <if test="rule != null">
        "rule" = #{rule,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.onehr.elegantapi.modules.coupon.domain.entity.CouponTemplate">
    update coupon_template
    set tpl_key = #{tplKey,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=BIGINT},
      available = #{available,jdbcType=BIT},
      expired = #{expired,jdbcType=BIT},
      "name" = #{name,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      product_line = #{productLine,jdbcType=BIGINT},
      coupon_count = #{couponCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      "usage" = #{usage,jdbcType=INTEGER},
      "rule" = #{rule,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>